## Configuración general
#Nivel de log (debug, info, warning, error)
LOG_LEVEL=info
#Puerto para la API REST
PORT=<Puerto_API>
#Puerto para gRPC
PORT_GRPC=<Puerto_gRPC>

## Whisper
#Modelo de Whisper a utilizar, por ejemplo: tiny, base, small, medium, large, turbo, etc.
WHISPER_MODEL=turbo
#Lenguaje del texto transcrito, por ejemplo: es (español), en (inglés), etc.
WHISPER_TEXT_LANGUAGE=es
#Indica si el audio es estéreo (True) o mono (False)
WHISPER_AUDIO_STEREO=True
#Duración en segundos de cada fragmento de audio a procesar (ajuste según la capacidad de su hardware y la duración del audio)
WHISPER_CHUNK_LENGTH=30
#Modo de uso RAM (cpu) o VRAM (cuda) local: cuda, cpu -> si desea usar la GPU (T. grafica memoria VRAM), cambie a cuda
WHISPER_DEVICE=cpu 

## OpenAI
#Clave de API de OpenAI (reemplácela con su propia clave) - En este caso api key de Foundry y use la propiedad OPENAI
OPENAI_API_KEY=Su_API_Key
#URL base de la API de OpenAI (reemplácela con su propia URL de Foundry)
OPENAI_BASE_URL=Su_URL_Base
#Modelo de Foundry a usar
OPENAI_MODEL=Kimi-K2.5
#Version del modelo de foundry a usar, por ejemplo: 2024-05-01-preview, etc.
OPENAI_API_VERSION=<version_del_modelo>

##Opciones del audio
#estos rangos estan Segundos (comente estas opciones si desea procesar el audio completo)
#ahorita esta a 120 segundos, si el audio es mas largo se procesara en partes de 120 segundos
AUDIO_RANGE_START_MIN=0  
AUDIO_RANGE_END_MIN=120 
